{% extends "App/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buscador de técnicos</title>
        </head>
        <body>
            <h4>Busqueda de técnicos.</h4>
            <h6>Ingrese el nombre del técnico a buscar.</h6>
            <form action="{% url 'busquedaTecnico' %}", method="GET">
                <input type="text" name="nombre" pattern="[A-Za-z]+" title="Ingrese solo letras"> 
                <input type="submit" value="Buscar">
            </form>
        </body>
        </html>
    {% endblock %}