<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de insumos</title>
</head>
<body>
    <form action="{% url 'busqueda' %}", method="GET">
        <p>Estoy buscando el insumo: {{insumo.nombre}} </p>

        {% if insumos %}
            <ul>
                {% for i in insumos %}
                    <li> {{i.nombre}} </li>
                {% endfor %}
            </ul>
            
        {% endif %} 
        
    </form>
</body>
</html>



