{% extends "App/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buscador de servicios</title>
        </head>
        <body>
            <form action="{% url 'busquedaServicio' %}", method="GET">
                <p><h4>Servicios disponibles: </h4> </p>

                {% if servicios %}
                    <ul>
                        {% for i in servicios %}
                            <li> {{i.nombre}} - ${{i.precio}} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>No existen servicios con el nombre especificado.</h2>
                {% endif %} 
                <input type="button" onclick="history.back()" name="Volver" value="Volver">
            </form>
        </body>
        </html>
    {% endblock %}


