{% extends "App/padre.html" %}
{% load static %}
    {% block contenidoQueCambia %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Consulta servicios</title>
        </head>
        <body>
            {% if servicios %}
                <h4> Los servicios disponibles son:</h4>
                {% for i in servicios %}
                    {{i}}
                    <a href="{% url 'detalleServicio' i.id %}"> Ver </a>
                    <a href="{% url 'eliminarServicio' i.id %}"> Eliminar </a>
                    <a href="{% url 'modificarServicio' i.id %}"> Modificar </a>
                    <br>
                {% endfor %}
                
                <form action="/altaServicio/", method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Nuevo servicio">
                </form>
                <form action="/buscarServicio/", method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Buscar servicio">
                </form>
            {% else %}
            <h4>Aun no hay servicios cargados.</h4>
            <h5>Presione el boton "Nuevo servicio" para realizar la carga.</h5>
            <form action="/altaServicio/", method="POST">
                {% csrf_token %}
                <input type="submit" value="Nuevo servicio">
            </form>
            {% endif %}
        </body>
        </html>
    {% endblock %}