{% extends "App/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

            {% if form.errors %}
                <p style="color: red;">{{"Error en la carga, revise los datos ingresados."}}</p>
            {% endif %} 
           
            <form action="", method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>

                <input type="submit" value="Guardar">
                <input type="button" onclick="history.back()" name="Volver" value="Volver">
            </form>
        
{% endblock %}