{% extends "App/padre.html" %}
{% load static %}
    {% block contenidoQueCambia %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Consulta tecnicos</title>
        </head>
        <body>
            {% if tecnicos %}
                <h4> Los tenicos disponibles son:</h4>
                {% for i in tecnicos %}
                    {{i.nombre}} {{i.apellido}}
                    <br>
                {% endfor %}
                
                <form action="/altaTecnico/", method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Nuevo técnico">
                </form>
                <form action="/buscarTecnico/", method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Buscar técnico">
                </form>
            {% else %}
            <h4>Aun no hay técnicos cargados.</h4>
            <h5>Presione el boton "Nuevo técnico" para realizar la carga.</h5>
            <form action="/altaTecnico/", method="POST">
                {% csrf_token %}
                <input type="submit" value="Nuevo técnico">
            </form>
            {% endif %}
        </body>
        </html>
    {% endblock %}