<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear usuario</title>
</head>
    <body>
           
        <form action="", method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" value="Guardar">

        </form>
        <form action = "{% url 'login' %}", method="GET" >
            <input type="submit" name="login" value="Ir al login">
        </form>
    </body>
</html>